<footer>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-4 col-sm-12">
        <i class="fa-solid fa-envelope"></i>
        <p>info@fischair.sk</p>
    
      </div>
    
      <div class="col-md-4 col-sm-12">
        <i class="fa-solid fa-phone"></i>
        <p>0910 610 985</p>
      </div>
    
      <div class="col-md-4 col-sm-12">
        <i class="fa-solid fa-location-dot"></i>
        <p>Markušovská cesta 4, 052 01 Spišská Nová Ves</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12 ">
        <div class="contact-form">
          <h2>Kontaktujte nás</h2>
          <form action="" method="post">
            <label for="fMeno">Meno</label> <br>
            <input type="text" placeholder="Meno" name="" id="fMeno"> <br>
            <label for="fEmail">Email</label> <br>
            <input type="email" name="" placeholder="Email" id="fEmail"> <br>
            <label for="fTel">Telefónne číslo</label> <br>
            <input type="tel" name="" placeholder="Telefónne číslo" id="fTel"> <br>
            <label for="fMiesto">Miesto</label> <br>
            <input type="text"  placeholder="Miesto relaizácie" name="" id="fMiesto"> <br>
            <!-- <select name=""  id="fSelect">
              <option value="rekuperacie">Rekuperácie</option>
              <option value="klimatizacie">Klimatizácie</option>
              <option value="tepelneCerpadla">Tepelné čerpadlá</option>
              <option value="vonkajsieRolety">Vonkajšie rolety</option>
              <option value="regalyDoDodavok">Regály do dodávok</option>
              <option value="stavebnePrace">Stavebné práce</option>
              <option value="ine">Iné</option>
            </select> <br> -->
            <textarea name="fSprava" id="" cols="30" rows="5">Správa</textarea>
            <button id="fBtn" type="submit">Poslať</button>
          </form>
        </div>

      </div>
<!-- mapa -->
      <div class="col-md-6 col-sm-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2620.7120614981864!2d20.577570476482613!3d48.93992589496513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473e4edf272c9b7f%3A0xe3bbd0ac35d853a0!2zTWFya3XFoW92c2vDoSBjZXN0YSA0LCAwNTIgMDEgU3BpxaFza8OhIE5vdsOhIFZlcw!5e0!3m2!1ssk!2ssk!4v1683049937707!5m2!1ssk!2ssk" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      </div>
<!-- mapa -->
    </div>



  </div>
</footer>