:root {
    --blue: #0081C9;
    --montserrat: 'Montserrat', sans-serif;
    --lightgray: #DEE1EC;
    --red: #C82121;
    --bluehover: #015481;

}


body {
    margin: 0;
    padding: 0;
    font-family: var(--montserrat);
}

footer {
    background-color: var(--blue);
}

footer label {
    margin-top: 1vh;
}

footer input {
    border: none;

    background-color: transparent;
    border-bottom: #0081C9 3px solid;
}

::placeholder {
    color: whitesmoke;
}

.contact-form {
    background-color: whitesmoke;
}

footer button {
    border: none;
    background-color: var(--blue);
    padding: 15px 23px;
    border-radius: 8%;
    color: whitesmoke;
    font-weight: 400;
    font-size: 1rem;
    transition-duration: 300ms;
}

footer button:hover {
    background-color: var(--bluehover);
    padding: 16px 24px;
}