:root {
    --blue: #0081C9;
    --montserrat: 'Montserrat', sans-serif;
    --lightgray: #DEE1EC;
    --red: #C82121;
    --bluehover: #015481;
    --darkgray: #6B728E;


}


body {
    margin: 0;
    padding: 0;
    font-family: var(--montserrat);
}

.footer {
    background-color: var(--blue);
    position: absolute;
    bottom: 0%;
}


h1 {
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-top: 4vh;
}

.p-div {
    border-top: solid white 1px;
    display: flex;
    align-items: center;

}

p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-size: 0.8rem;
    color: black;
}