:root {
    --blue: #0081C9;
    --montserrat: 'Montserrat', sans-serif;
    --lightgray: #E0E7E9
}



body {
    margin: 0;
    padding: 0;
    font-family: var(--montserrat);
}

/* navbar */
nav {
    margin-bottom: 0;
}

/* navbar */

/* container top */
#container-top {
    background-image: url(/imgs/pexels-kelly-2887796.jpg);
    height: 90vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

#container-top h1 {

    color: whitesmoke;
    font-family: var(--montserrat);
    backdrop-filter: blur(40px);
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    padding-right: 5vh;


}



/* container top */

/* cards */
.cards-container {
    margin-top: 15vh;
}

.card {

    margin-left: auto;
    margin-right: auto;
    width: 25vw;
    height: 25vh;
    margin-top: 5rem;
    display: table;
    transition: 0.3s;
    background-color: var(--blue);
    color: whitesmoke;

}

.card:hover {
    border-style: solid;
    border-color: white;
    border-width: 8px;
    color: whitesmoke;
    width: 26vw;
    height: 26vh;
}

.card-title {
    height: 20vh;
    display: table-cell;
    vertical-align: middle;
    font-size: 4.3rem;
    font-family: var(--montserrat);

}


#row2-card1 {
    transform: translateX(100px);
}

#row2-card2 {
    transform: translateX(-100px);
}

@media screen and (max-width:1000px) {
    .card {
        width: 80vw;
    }

    #row2-card1 {
        transform: translateX(0);
    }

    #row2-card2 {
        transform: translateX(0);
    }

    .cards-container {
        margin-top: 8vh;
    }


}


/* cards */


/* Section2 */
.section2 {
    background-color: var(--blue);
    text-align: center;
}

.section2 .card {
    text-align: center;

}

.section2 .card-title {
    margin: auto;

}

.section2 h1 {
    color: var(--lightgray);
}

.section2 h2 {
    color: var(--lightgray);
}

.section2 h3 {
    color: var(--lightgray);
}

/* Section2 */






















@media all and (min-width:1001px) {


    #container-top h1 {


        font-size: 9rem;
    }

    #container-top {
        height: 100vh;
    }
}



@media (min-width:501px) and (max-width: 1000px) {

    #container-top {
        text-align: center;
        height: 100vh;
    }

    #container-top h1 {
        font-size: 4rem;
        width: min-content;

    }

}

@media (min-width:0) and (max-width: 500px) {
    #container-top h1 {
        font-size: 3rem;
        width: min-content;


    }

    #container-top {
        height: 100vh;
    }
}