:root {
    --blue: #0081C9;
    --montserrat: 'Montserrat', sans-serif;
    --lightgray: #E0E7E9
}


body {
    margin: 0;
    padding: 0;
    font-family: var(--montserrat);
    min-height: 100vh;
}

/* navbar */
nav {
    margin-bottom: 0;
}

hr {
    margin: 10vh;
}

/* navbar */

/* container top */
#container-top {
    background-image: url(/imgs/pexels-kelly-2887796.jpg);
    height: 90vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}



.title {
    color: whitesmoke;
    font-family: var(--montserrat);
    backdrop-filter: blur(40px);
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 5vw;
    padding-right: 5vw; */
    padding: 3vh 5vw;

}


/* container top */




/* Section2 */
.section2 {
    background-color: var(--blue);
    text-align: center;
}

.section2 .card {
    text-align: center;

}

.section2 .card-title {
    margin: auto;

}

.section2 h1 {
    color: var(--lightgray);
}

.section2 h2 {
    color: var(--lightgray);
}

.section2 h3 {
    color: var(--lightgray);
}

/* Section2 */


/* Carousel */

.carousel {
    margin-top: 10vh;
}

.carousel .col-lg-6 {
    display: grid;
    justify-content: center;
}

.carousel .card {
    border: none;
    width: 50vw;
    transform: translateX(-10vw);

}

.carousel img {
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-5vh);
}

.card img {
    display: none;
}

.carousel h5 {
    color: var(--blue);
    font-weight: 700;
    font-size: 2.5rem;
}

.carousel h6 {
    color: rgb(74, 74, 74);
    font-size: 1.2rem;
}

.carousel p {
    margin-top: 4vh;
    font-size: 1rem;
}

.carousel a {
    color: var(--lightgray) !important;
    background-color: var(--blue);

}

.carousel span {
    transform: translateY(-40px);
}

.sticky-footer {
    position: sticky;
    top: 100%;
    margin-top: 20vh;
}


/* -------------- */





















@media all and (min-width:1001px) {


    #container-top h1 {


        font-size: 9rem;
    }

    #container-top {
        height: 100vh;
    }
}



@media (min-width:501px) and (max-width: 1000px) {

    #container-top {
        text-align: center;
        height: 100vh;
    }

    #container-top h1 {
        font-size: 4rem;
        width: min-content;

    }

}

@media (min-width:0) and (max-width: 500px) {
    #container-top h1 {
        font-size: 3rem;
        width: min-content;


    }

    #container-top {
        height: 100vh;
    }

    .carousel-item img {
        display: none;
        width: 50vw;
        transform: translateY(0);
    }

    .carousel .card {
        width: 95vw;
        transform: translateX(0vw)
    }




}