:root {
    --blue: #0081C9;
    --montserrat: 'Montserrat', sans-serif;
    --lightgray: #E0E7E9;
    --red: #C82121;
    --darkgray: #6B728E;
    --darkergray: #4c5064;
    --orange: #ff7e36;
    --darkorange: #ff7e36
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--montserrat);
}

.name-mobile {
    display: none;
}

.name-desktop {
    display: block;
    font-size: 2.5rem;
    margin-top: 10vh !important;
    margin-top: 8vh;

}

hr {
    color: var(--blue);
}

h2 {
    color: var(--blue);
}

h3 {
    color: rgb(78, 77, 77);
}

.row {
    width: 100vw;
}

.top-description-container {
    width: 40vw !important;
    transform: translateX(10vw);
}

.top-description-container h5 {
    color: var(--darkergray);
    margin-right: 3vw;
    margin-top: 5vh;
}

.price {
    color: var(--orange);
    margin-top: 1vh;
}

.price-mobile {
    color: var(--orange);
    margin-top: 1vh;
    display: none;
}

.main-image {
    width: 50vw !important;
    margin-top: 2vh;
    margin-left: 4vw;
    margin-bottom: 5vh;
}


ul {
    list-style: none;
}

.list-title {
    color: var(--blue);
    font-weight: 600;
    font-size: 1.7rem;
    margin-left: 5vw;
    margin-top: 5vh;
}

.vyhody li {
    padding: 0%;
    line-height: 21px;
    margin-left: 5vw;
    font-family: var(--montserrat);
    font-weight: 500;
}

.col-list {
    margin-top: 0vh !important;
}


.sticky-footer {
    position: sticky;
    top: 100%;
    margin-top: 20vh;
}


@media all and (min-width: 990px) {
    .main-image {
        width: 120%;
    }


}

@media all and (max-width: 989px) {
    .top-description-container {
        width: 90vw !important;

    }

    .main-image {
        width: 90vw !important;

    }

    .name-mobile {
        display: block;
        font-size: 2rem;
        margin-top: 3vh;
        margin-left: 3vw;
    }

    .name-desktop {
        display: none;
    }

    .price {
        display: none;
    }

    .price-mobile {
        display: block;
        margin-left: 3vw;
        font-size: 1.5rem;
    }

    .sticky-footer {
        position: sticky;
        top: 100%;
        margin-top: 20vh;
    }

}